.unloginIntro{
    margin: 1rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.6rem;
}

.unloginIntro article{
    width: 100%;
    margin-bottom: 3rem;
    font-size: 1.1rem;
}

.articleHead {
    font-size: 2rem;
    font-weight: 800;
}

.mainWeather{
    display: flex;
    justify-content: space-around;
    background-color: rgb(195, 231, 255);
    margin: 1rem 5rem;
    border-radius: 0.725rem;
}

.mainWeather button{
    height: 250px;
    width: 250px;
    background-color: white;
    border: none;
    border-radius: 50%;
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.MyStyleList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
    background-color: rgb(188, 228, 255);
    overflow: scroll;
    margin: 1rem 0rem;
    border-radius: 0.725rem;
}

.myStyleListBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customButton{
    margin: 0.125rem 2rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: beige;
}

.myStylebutton{
    padding: 0.25rem 1rem;
    border: none;
    background-color: rgb(154, 205, 255);
    border-radius: 0.5rem;
    font-weight: 700;
}

.myStylebutton:first-child{
    margin-right: 1rem;
}

.myStylebutton:hover{
    background-color: rgb(211, 237, 255);
}